<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="custom.css">
    <script src="../model/model.js"></script>
    <script src="../model/model_obj.js"></script>
    <script src="../controller/controller.js"></script>
</head>
<body>
   
   <h1>Product CRUD</h1>
   
   <table>
       <tr>
          <td>Enter Product Name</td>
           <td><input type="text" id="box_1"></td>
       </tr>
       <tr>
           <td>Enter Product Price</td>
           <td><input type="text" id="box_2"></td>
       </tr>
       <tr>
           <td>Enter Product Details</td>
           <td>
               <textarea cols="30" rows="10" id="box_3"></textarea>
           </td>
       </tr>
       <tr>
           <td></td>
           <td>
               <button id="add">Add</button>
               <button id="delete">Delete</button>
               <button>Sort</button>
               <button>Update</button>
               <button>Search</button>
               <button id="save">Save</button>
               <button id="load">Load</button>
            </td>
       </tr>
   </table>
   
   <div>
       <ul id="productList">
           <!--<li id="productList"></li>-->
       </ul>
   </div>
    
</body>
</html>